.card {
    margin: 100pt;
    border-color: #fed136;
    text-align: center;
    background-color: #212529e1;
    color: white;
    margin-right: 350pt;
    margin-left: 350pt;
    margin-top: 130pt;
}