.card2 {
    padding: 30pt;
    margin: 100pt;
    border: 10px solid;
    border-color: #fed136;
    text-align: left;
    background-color: #212529e1;
    color: #fed136;
    margin-right: 200pt;
    margin-left: 200pt;
    margin-top: 130pt;
}

