body {
    align-content: center;
    margin: 0 auto;
    padding: 0;
}

#findProject {
    border: 5px solid #bbbbbb;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    margin: auto;
    margin-top: 80pt;
    margin-bottom: 30pt;
    padding: 30pt;
}

.form-label {
    font-size: auto;
}

.h3, h3 {
    font-size: 50px;
    margin: 15pt;
}

form .Checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#findBtn {
    margin-top: 30pt;
}



